{% load static %}
<!-- [ Footer ] start -->
<footer class="pc-footer">
  <div class="footer-wrapper container-fluid mx-10 py-4">
    <div class="grid grid-cols-12 gap-1.5">
      <div class="col-span-12 sm:col-span-6">
        <p class="m-0">
          <a href="#" class="text-theme-bodycolor dark:text-themedark-bodycolor hover:text-primary-500" target="_blank">
            SwiftRide
          </a>
          , Your Fast Lane to Anywhere.
        </p>
      </div>
      
    </div>
  </div>
</footer>
<!-- [ Footer ] end -->
